SQLAlchemy~=1.4.40
python-dotenv~=0.21.0
PyGithub~=1.55
lizard~=1.17.10
pydriller~=2.1
github~=1.2.7
python-gitlab~=3.9.0
datetime~=4.4
pandas~=1.4.4
pygments~=2.13.0
lxml~=4.9.1
Click==7.0
scikit-learn~=1.1.2
plotly~=5.10.0
beautifulsoup4~=4.11.1
xgboost~=1.6.2
jinja2~=3.0.1
