SQLAlchemy~=1.4.40
alembic~=1.10.3
python-dotenv~=0.21.0
PyGithub~=1.55
lizard~=1.17.10
pydriller~=2.1
python-gitlab~=3.9.0
datetime~=4.4
pandas~=1.5.3
numpy~=1.23.3
pygments~=2.13.0
lxml~=4.9.1
Click==7.0
scikit-learn~=1.1.2
plotly~=5.10.0
xgboost~=1.6.2
jinja2~=3.0.1
dependency-injector~=4.41.0
kneed~=0.8.1
glpi-api~=0.3.5
jira~=3.4.1
radon~=5.1.0
pylint~=2.17.0
